{% extends "layout.html" %}
{% block content %}
<form action="" method=post class="form-horizontal">
  <h2>Edit Todo</h2>
  <hr>
  <div class="control-group">
    <div class="controls">
      <input
         type="text"
         id="description"
         name="description"
         maxlength="60"
         class="form-control input-xlarge"
         placeholder="update TODO"
         {% if todo is defined -%}
         value="{{ todo.description }}"
         {% endif -%}
         required
         />
    </div>
  </div>
  </div>
  <hr>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">
        Save
      </button>
    </div>
  </div>
</form>
{% endblock %}
